<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
	<head>
		<meta charset="utf-8"/>
		<title>Cabinas</title>
		<meta name="description" content="Responsive HTML5 Template"/>
		<meta name="author" content="webthemez"/>

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<!-- Favicon -->
		<link rel="shortcut icon" th:href="@{images/favicon.ico}"/>
 
		<link th:href="@{bootstrap/css/bootstrap.css}" rel="stylesheet"/> 
		<link th:href="@{fonts/font-awesome/css/font-awesome.css}" rel="stylesheet"/> 
		<link th:href="@{css/animations.css}" rel="stylesheet"/> 
		<link th:href="@{css/style.css}" rel="stylesheet"/> 
		<link th:href="@{plugins/jquery-ui-1.11.4.custom/jquery-ui.min.css}" rel="stylesheet"/>
		<link th:href="@{plugins/jquery.mCustomScrollbar.min.css}" rel="stylesheet"/>
		<link th:href="@{css/custom.css}" rel="stylesheet"/>
	</head>

	<body class="no-trans">
		<!-- scrollToTop --> 
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

		<!-- header start --> 
		<header class="header fixed clearfix navbar navbar-fixed-top">
			<div class="container">
				<div class="row">
					<div class="col-md-4">

						<!-- header-left start --> 
						<div class="header-left">

							<!-- logo -->
							<div class="logo smooth-scroll">
								<a href="#banner"><img id="logo" th:src="@{images/logo.png}" alt="Worthy"></img></a>
							</div>

							<!-- name-and-slogan -->
							<div class="logo-section smooth-scroll">
								<div class="brand"><a href="#banner">Sede: Local UNI</a></div>								
							</div>

						</div>
						<!-- header-left end -->

					</div>
					<div class="col-md-8">

						<!-- header-right start --> 
						<div class="header-right">

							<!-- main-navigation start --> 
							<div class="main-navigation animated">

								<!-- navbar start --> 
								<nav class="navbar navbar-default" role="navigation">
									<div class="container-fluid">

										<!-- Toggle get grouped for better mobile display -->
										<div class="navbar-header">
											<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
												<span class="sr-only">Toggle navigation</span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
											</button>
										</div>

										<!-- Collect the nav links, forms, and other content for toggling -->
										<div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
											<ul class="nav navbar-nav navbar-right">
												<li class="active"><a href="#equipos">Equipos</a></li>
												<li><a href="#consolas">Consolas</a></li>
											</ul>
										</div>

									</div>
								</nav>
								<!-- navbar end -->

							</div>
							<!-- main-navigation end -->

						</div>
						<!-- header-right end -->

					</div>
				</div>
			</div>
		</header>
		<!-- header end -->

		<!-- banner start --> 
		<div id="equipos">
			<div class="container">
				<br/>
				<br/>
				<br/>
				<br/>
				<div class="row">
					<div class="col-md-12" style="margin-top: 40px">
						<h1 id="tituloEquipos" class="title text-center">Definicion de <span>Equipos</span></h1>
						<p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. laudantium culpa tenetur.</p>
					</div>
				</div>
				<div class="row" style="margin-bottom: 40px">
					<div class="col-md-4"></div>
					<div class="col-md-3">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="control-label col-sm-2" for="email">Usuario:</label>
								<label class="control-label col-sm-2" for="email"></label>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="email">Nivel:</label>
								<label class="control-label col-sm-2" for="email"></label>
							</div>
						</form>
					</div>
					<div class="col-md-3">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="control-label col-sm-2" for="pwd">Puntos:</label> <label
									class="control-label col-sm-2" for="email"></label>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="pwd">Saldo:</label> <label
									class="control-label col-sm-2" for="email"></label>
							</div>
						</form>
					</div>
				</div>
				<div class="row" style="margin-left: 90px">
					<div class="multipe-div">
						<div class="multipe-box">
							<select class="select-multiple" size="3">
								<option class="option-multiple computer-multiple">PC 1</option>
								<option class="option-multiple computer-multiple">PC 2</option>
								<option class="option-multiple computer-multiple">PC 3</option>
								<option class="option-multiple computer-multiple">PC 4</option>
					    		<option class="option-multiple computer-multiple">PC 5</option>
								<option class="option-multiple computer-multiple">PC 6</option>
					    		<option class="option-multiple computer-multiple">PC 7</option>
								<option class="option-multiple computer-multiple">PC 8</option>
								<option class="option-multiple computer-multiple">PC 9</option>
								<option class="option-multiple computer-multiple">PC 10</option>
								<option class="option-multiple computer-multiple">PC 11</option>
								<option class="option-multiple computer-multiple">PC 12</option>
							</select>
						</div>
					</div>
					<div class="form-group" style="margin-top: 10px">
						<div class="col-md-3"></div>
						<div class="col-md-6">
							<form role="form">
								<div class="form-group">
									<label for="amountComputer">Monto Ingresado:</label> 
									<input type="text" class="form-control" id="amountComputer"/>
								</div>
								<div class="form-group">
									<label for="rechargeComputer">Recarga:</label> 
									<input type="text" class="form-control" id="rechargeComputer"/>
								</div>
								<div class="form-group">
									<label>Vuelto:</label> 
									<label></label> 
								</div>
								<button type="submit" class="btn btn-default">Recargar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- banner end -->
		
		<!-- banner start --> 
		<div id="consolas">
			<div class="container">
				<br/>
				<div class="row">
					<div class="col-md-12" style="margin-top: 40px">
						<h1 id="tituloEquipos" class="title text-center">Definicion de <span>Consolas</span></h1>
						<p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. laudantium culpa tenetur.</p>
					</div>
				</div>
				<div class="row" style="margin-bottom: 40px">
					<div class="col-md-4"></div>
					<div class="col-md-3">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="control-label col-sm-2" for="email">Usuario:</label>
								<label class="control-label col-sm-2" for="email"></label>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="email">Nivel:</label>
								<label class="control-label col-sm-2" for="email"></label>
							</div>
						</form>
					</div>
					<div class="col-md-3">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="control-label col-sm-2" for="pwd">Puntos:</label> <label
									class="control-label col-sm-2" for="email"></label>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="pwd">Saldo:</label> <label
									class="control-label col-sm-2" for="email"></label>
							</div>
						</form>
					</div>
				</div>
				<div class="row" style="margin-left: 90px">
					<div class="multipe-div">
						<div class="multipe-box">
							<select class="select-multiple" size="3">
								<option class="option-multiple console-multiple">Consola 1</option>
								<option class="option-multiple console-multiple">Consola 2</option>
								<option class="option-multiple console-multiple">Consola 3</option>
								<option class="option-multiple console-multiple">Consola 4</option>
					    		<option class="option-multiple console-multiple">Consola 5</option>
								<option class="option-multiple console-multiple">Consola 6</option>
					    		<option class="option-multiple console-multiple">Consola 7</option>
								<option class="option-multiple console-multiple">Consola 8</option>
								<option class="option-multiple console-multiple">Consola 9</option>
								<option class="option-multiple console-multiple">Consola 10</option>
								<option class="option-multiple console-multiple">Consola 11</option>
								<option class="option-multiple console-multiple">Consola 12</option>
							</select>
						</div>
					</div>
					<div class="form-group" style="margin-top: 10px">
						<div class="col-md-3"></div>
						<div class="col-md-6" style="margin-bottom: 10px">
							<form role="form">
								<div class="form-group">
									<label for="amountConsole">Monto Ingresado:</label> 
									<input type="text" class="form-control" id="amountConsole"/>
								</div>
								<div class="form-group">
									<label for="rechargeConsole">Recarga:</label> 
									<input type="text" class="form-control" id="rechargeConsole"/>
								</div>
								<div class="form-group">
									<label>Vuelto:</label> 
									<label></label> 
								</div>
								<button type="submit" class="btn btn-default">Recargar</button>
							</form>
						</div>
					</div>
					<br/>
					<br/>
					<br/>
					<br/>
				</div>
			</div>
		</div>
		<!-- banner end -->

		<!-- footer start --> 
		<footer id="footer">

			<!-- .subfooter start --> 
			<div class="subfooter">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p class="text-center">Copyright © 2015 Template by <a target="_blank" href="http://webthemez.com">webthemez.com</a>.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- .subfooter end -->

		</footer>
		<!-- footer end -->
		
				<div id="computerDialog" title="Informacion PC" style="display: none;">
			<div class="col-md-10" style="margin-bottom: 10px">
				<form class="form-horizontal" role="form" id="form-regla">
					<input type="hidden" id="idRegla" value=""/>
					<div class="form-group">
						<label class="control-label col-md-4">Nombre:</label>
						<label class="control-label col-md-8" style="text-align: left;">Nombre</label>
					</div>						
					<div class="form-group">
						<label class="control-label col-md-4">IP:</label>
						<label class="control-label col-md-8" style="text-align: left;">Nombre</label>
					</div>
					<div class="form-group">
						<label class="control-label col-md-4">Serie:</label>
						<label class="control-label col-md-8" style="text-align: left;">Nombre</label>
					</div>
					<div class="form-group">							
						<label class="control-label col-md-4">MAC:</label>
						<label class="control-label col-md-8" style="text-align: left;">Nombre</label>
					</div>
					<div class="form-group">							
						<label class="control-label col-md-4">Estado:</label>
						<label class="control-label col-md-8" style="text-align: left;">Nombre</label>
					</div>
					<div class="form-group">							
						<label class="control-label col-md-4">Grupo:</label>
						<label class="control-label col-md-8" style="text-align: left;">Nombre</label>
					</div>
				</form>
			</div>
		</div>
		
		<div id="consoleDialog" title="Informacion Consola" style="display: none;">
			<div class="col-md-10" style="margin-bottom: 10px">
				<form class="form-horizontal" role="form" id="form-regla">
					<input type="hidden" id="idRegla" value=""/>
					<div class="form-group">
						<label class="control-label col-md-4">Nombre:</label>
						<label class="control-label col-md-8" style="text-align: left;">Nombre:</label>
					</div>						
					<div class="form-group">
						<label class="control-label col-md-4">IP:</label>
						<label class="control-label col-md-8" style="text-align: left;">Nombre:</label>
					</div>
					<div class="form-group">
						<label class="control-label col-md-4">Estado:</label>
						<label class="control-label col-md-8" style="text-align: left;">Nombre:</label>
					</div>
					<div class="form-group">							
						<label class="control-label col-md-4">Grupo:</label>
						<label class="control-label col-md-8" style="text-align: left;">Nombre:</label>
					</div>
				</form>
			</div>
		</div>

		<!-- JavaScript --> 
		<script type="text/javascript" th:src="@{plugins/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{bootstrap/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{plugins/modernizr.js}"></script>
		<script type="text/javascript" th:src="@{plugins/isotope/isotope.pkgd.min.js}"></script>
		<script type="text/javascript" th:src="@{plugins/jquery.backstretch.min.js}"></script>
		<script type="text/javascript" th:src="@{plugins/jquery.appear.js}"></script>
		<script type="text/javascript" th:src="@{plugins/jquery-ui-1.11.4.custom/jquery-ui.min.js}"></script>
		<script type="text/javascript" th:src="@{plugins/jquery.mCustomScrollbar.concat.min.js}"></script>

		<!-- Custom Scripts -->
		<script type="text/javascript" th:src="@{js/operator.js}"></script>

	</body>
</html>
