<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
	<head>
		<meta charset="utf-8"/>
		<title>Cabinas</title>
		<meta name="description" content="Responsive HTML5 Template"/>
		<meta name="author" content="webthemez"/>
		
		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
		<!-- Favicon -->
		<link rel="shortcut icon" th:href="@{images/favicon.ico}"/>
		
		<link th:href="@{css/login.css}" rel="stylesheet"/>
		<link th:href="@{fonts/font-awesome/css/font-awesome.css}" rel="stylesheet"/> 
	</head>

	<body>
	
		<form class="login">
	
			<fieldset>
	
				<legend class="legend">Login</legend>
				
				<div class="input">
					<select id="userType">
						<option value="2">Administrador</option>
						<option value="1">Operador</option>
						<option value="3" selected="selected">Cliente</option>
						<option value="4">Incidencia</option>
					</select>
				</div>
	
				<div class="input">
					<input id="email" type="email" placeholder="Email" required="required" /> <span><i
						class="fa fa-envelope-o"></i></span>
				</div>
	
				<div class="input">
					<input id="password" type="password" placeholder="Password" required="required" /> <span><i
						class="fa fa-lock"></i></span>
				</div>
				
				<div id="headquarterDiv" class="input">
					<select id="headquarter">
					</select>
				</div>
				<div class="form-group">
					<a href="#" onclick="newUser()"><span>Registrarse</span></a>
				</div>	
				<div class="form-group" id="anonymousDiv">
				<br/>
					<a href="#" onclick="newUser()" id="anonymousBtn"><span>Anonimo</span></a>
				</div>
				<br/>
				<br/>				
				<button class="submit" id="loginBtn">
					<i class="fa fa-long-arrow-right"></i>
				</button>
	
			</fieldset>
	
			<div class="feedback">
				login successful <br /> redirecting...
			</div>
	
		</form>
	
		<script type="text/javascript" th:src="@{plugins/jquery.min.js}"></script>
		<!-- Custom Scripts -->
		<script type="text/javascript" th:src="@{js/login.js}"></script>
	
	</body>
</html>