<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
	<head>
		<meta charset="utf-8"/>
		<title>Cabinas</title>
		<meta name="description" content="Responsive HTML5 Template"/>
		<meta name="author" content="webthemez"/>

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<!-- Favicon -->
		<link rel="shortcut icon" th:href="@{images/favicon.ico}"/>
 
		<link th:href="@{bootstrap/css/bootstrap.css}" rel="stylesheet"/> 
		<link th:href="@{fonts/font-awesome/css/font-awesome.css}" rel="stylesheet"/> 
		<link th:href="@{css/animations.css}" rel="stylesheet"/> 
		<link th:href="@{css/style.css}" rel="stylesheet"/> 
		<link th:href="@{plugins/jquery-ui-1.11.4.custom/jquery-ui.min.css}" rel="stylesheet"/>
		<link th:href="@{plugins/jquery.mCustomScrollbar.min.css}" rel="stylesheet"/>
		<link th:href="@{plugins/dataTables/css/jquery.dataTables.css}" rel="stylesheet"/>
		<link th:href="@{css/custom.css}" rel="stylesheet"/>
		<link th:href="@{plugins/select2-4.0.3/css/select2.min.css}" rel="stylesheet" />		
	</head>

	<body class="no-trans">
		<!-- scrollToTop --> 
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

		<!-- header start --> 
		<header class="header fixed clearfix navbar navbar-fixed-top">
			<div class="container">
				<div class="row">
					<div class="col-md-3">

						<!-- header-left start --> 
						<div class="header-left">

							<!-- logo -->
							<div class="logo smooth-scroll">
								<a href="#banner"><img id="logo" th:src="@{images/logo.png}" alt="Worthy"></img></a>
							</div>

							<!-- name-and-slogan -->
							<div class="logo-section smooth-scroll">
								<div class="brand"><a href="#banner">Sede: Local UNI</a></div>								
							</div>

						</div>
						<!-- header-left end -->

					</div>
					<div class="col-md-8">

						<!-- header-right start --> 
						<div class="header-right">

							<!-- main-navigation start --> 
							<div class="main-navigation animated">

								<!-- navbar start --> 
								<nav class="navbar navbar-default" role="navigation">
									<div class="container-fluid">

										<!-- Toggle get grouped for better mobile display -->
										<div class="navbar-header">
											<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
												<span class="sr-only">Toggle navigation</span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
											</button>
										</div>

										<!-- Collect the nav links, forms, and other content for toggling -->
										<div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
											<ul class="nav navbar-nav navbar-right">
												<li class="active"><a href="#nuevaRecarga">Recargas</a></li>
												<li><a href="#equipos">Equipos</a></li>
												<li><a href="#consolas">Consolas</a></li>
												<li><a href="#nuevaCierreCaja">Cierre de Caja</a></li>
											</ul>
										</div>

									</div>
								</nav>
								<!-- navbar end -->

							</div>
							<!-- main-navigation end -->

						</div>
						<!-- header-right end -->

					</div>
					
					<div class="col-md-1">
						<div class="header-right">
							<div class="logo smooth-scroll">
								<a th:href="@{/logout}"><img id="logo" th:src="@{images/logout_icon.png}" alt="Logout"></img></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- header end -->

		<!-- banner start --> 
		<div id="nuevaRecarga">
			<div class="container">
				<br/>				
				<br/>
				<br/>
				<br/>
				<br/>
				<div class="row">
					<div class="col-md-12" style="margin-top: 40px">
						<h1 id="tituloEquipos" class="title text-center">Nueva <span>Recarga</span></h1>
						<p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. laudantium culpa tenetur.</p>
					</div>
				</div>
				<div class="row" style="margin-left: 110px; margin-right: 110px">
					<form class="form-horizontal" role="form" id="form-recarga">
						<input type="hidden" id="idRecarga" value=""/>						
						<div class="form-group">
							<label class="control-label col-sm-2" for="name">Cliente:</label>
							<div class="col-sm-4">
								<select id="clientSelect">
									<option></option>
								</select>
							</div>
							<label class="control-label col-sm-2" for="balance">Saldo:</label>
							<div class="col-sm-4">
								<input disabled="true" class="form-control" id="balance"
									placeholder="Saldo" maxlength="7"/>
							</div>		
						</div>
						<div class="form-group">						
							<label class="control-label col-sm-2" for="enterAmount">Monto Ingresado:</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="enterAmount"
									placeholder="Monto Ingresado"/>
							</div>								
							<label class="control-label col-sm-2" for="rechargingAmount">Monto de Recarga:</label>
							<div class="col-sm-4">
								<input class="form-control" id="rechargingAmount"
									placeholder="Monto de Recarga" maxlength="7"/>
							</div>				
						</div>						
						<div class="form-group">
							<div class="col-sm-offset-5 col-sm-7">
								<button id="btnRecarga" type="submit" class="btn btn-default">Nueva Recarga</button>
							</div>
						</div>
					</form>
					<div id="recargaValidation" class="alert alert-danger" style="display:none"></div>
				</div>
				<div class="space"></div>
				<!--
			    <div role="tabpanel" class="table-responsive" id="listaRecargasDiv">
			        <table id="recargaTbl" class="table table-striped display">
			            <thead>
			                <tr>	                				                	
			                	<th>Nro. Ticket</th>
			                    <th>Cliente</th>
			                    <th>Monto de Recarga</th>
			                    <th>Tipo de Recarga</th>
			                    <th>Fecha y Hora</th>			                    
			                    <th>Estado</th>       
			                    <th colspan="2">Opciones</th>			                    
			                </tr>
			            </thead>
			            <tbody>			                
			            </tbody>
			        </table>
			    </div>
			    -->
			</div>
		</div>
		<!-- banner end -->
		
		<!-- banner start --> 
		<div id="equipos">
			<div class="container">
				<br/>				
				<br/>
				<br/>
				<br/>
				<div class="row">
					<div class="col-md-12" style="margin-top: 40px">
						<h1 id="tituloEquipos" class="title text-center">Definicion de <span>Equipos</span></h1>
						<p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. laudantium culpa tenetur.</p>
					</div>
				</div>
				<div class="row" style="margin-left: 90px">					
					<div class="multipe-div">
						<div class="multipe-box">
							<select class="select-multiple" multiple="multiple" size="3" id="computer-multiple">
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-3">
						</div>
						<div class="col-md-2">
							<button type="submit" class="btn btn-default">Encender</button>
						</div>
						<div class="col-md-2">
							<button type="submit" class="btn btn-default">Apagar</button>
						</div>
						<div class="col-md-2">
							<button type="submit" class="btn btn-default">Reiniciar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- banner end -->
		
		<!-- banner start --> 
		<div id="consolas">
			<div class="container">
				<br/>
				<br/>				
				<br/>
				<br/>
				<br/>
				<div class="row">
					<div class="col-md-12" style="margin-top: 40px">
						<h1 id="tituloEquipos" class="title text-center">Definicion de <span>Consolas</span></h1>
						<p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. laudantium culpa tenetur.</p>
					</div>
				</div>
				<div class="row" style="margin-left: 90px">
					<div class="multipe-div">
						<div class="multipe-box">
							<select class="select-multiple" multiple="multiple" size="3" id="console-multiple">
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-3">
						</div>
						<div class="col-md-2">
							<button type="submit" class="btn btn-default">Encender</button>
						</div>
						<div class="col-md-2">
							<button type="submit" class="btn btn-default">Apagar</button>
						</div>
						<div class="col-md-2">
							<button type="submit" class="btn btn-default">Reiniciar</button>
						</div>
					</div>
					<br/>
					<br/>
				</div>
			</div>
		</div>
		<!-- banner end -->

		<!-- banner start --> 
		<div id="nuevaCierreCaja">
			<div class="container">
				<br/>
				<br/>				
				<br/>
				<br/>
				<br/>
				<div class="row">
					<div class="col-md-12" style="margin-top: 40px">
						<h1 id="tituloEquipos" class="title text-center"><span>Cierre de Caja</span></h1>
						<p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. laudantium culpa tenetur.</p>
					</div>
				</div>
				<div class="row" style="margin-left: 110px; margin-right: 110px">
					<form class="form-horizontal" role="form" id="form-cierreCaja">
						<input type="hidden" id="idCierreCaja" value=""/>
						<div class="form-group">
							<div class="col-sm-offset-5 col-sm-7">
								<button id="btnCierreCaja" type="submit" class="btn btn-default">Cerrar Caja</button>
							</div>
						</div>
						<div class="form-group">							
							<label class="control-label col-sm-2" for="totalAmount">Monto Total:</label>
							<div class="col-sm-4">
								<input disabled="true" class="form-control" id="totalAmount"
									placeholder="Monto Total"/>
							</div>
						</div>
					</form>
					<div id="cierreCajaValidation" class="alert alert-danger" style="display:none"></div>
				</div>
				<div class="space"></div>
				<!-- 
			    <div role="tabpanel" class="table-responsive" id="listaCierreCajasDiv">
			        <table id="cierreCajaTbl" class="table table-striped display">
			            <thead>
			                <tr>	                				                	
			                	<th>Nro. Ticket</th>
			                    <th>Cliente</th>
			                    <th>Monto del Ticket</th>
			                    <th>Tipo de Recarga</th>
			                    <th>Fecha y Hora</th>			                    
			                    <th>Estado</th>                 
			                </tr>
			            </thead>
			            <tbody>			                
			            </tbody>
			        </table>
			    </div>
			     -->
			</div>
		</div>
		<!-- banner end -->

		<div id="dialog-confirm"></div>		
		<!-- footer start --> 
		<footer id="footer">

			<!-- .subfooter start --> 
			<div class="subfooter">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p class="text-center">Copyright © 2015 Template by <a target="_blank" href="http://webthemez.com">webthemez.com</a>.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- .subfooter end -->

		</footer>
		<!-- footer end -->

		<div id="computerDialog" title="Informacion PC" style="display: none;">
			<div class="col-md-10" style="margin-bottom: 10px">
				<form class="form-horizontal" role="form" id="form-regla">
					<input type="hidden" id="idRegla" value=""/>
					<div class="form-group">
						<label class="control-label col-md-4">Nombre:</label>
						<label class="control-label col-md-8" style="text-align: left;" id="computerName"></label>
					</div>						
					<div class="form-group">
						<label class="control-label col-md-4">IP:</label>
						<label class="control-label col-md-8" style="text-align: left;" id="computerIpAddress"></label>
					</div>
					<div class="form-group">
						<label class="control-label col-md-4">Serie:</label>
						<label class="control-label col-md-8" style="text-align: left;" id="computerSeries"></label>
					</div>
					<div class="form-group">							
						<label class="control-label col-md-4">MAC:</label>
						<label class="control-label col-md-8" style="text-align: left;" id="computerMac"></label>
					</div>
					<div class="form-group">							
						<label class="control-label col-md-4">Estado:</label>
						<label class="control-label col-md-8" style="text-align: left;" id="computerState"></label>
					</div>
					<div class="form-group">							
						<label class="control-label col-md-4">Grupo:</label>
						<label class="control-label col-md-8" style="text-align: left;" id="computerGroup"></label>
					</div>
				</form>
			</div>
		</div>
		
		<div id="consoleDialog" title="Informacion Consola" style="display: none;">
			<div class="col-md-10" style="margin-bottom: 10px">
				<form class="form-horizontal" role="form" id="form-regla">
					<input type="hidden" id="idRegla" value=""/>
					<div class="form-group">
						<label class="control-label col-md-4">Nombre:</label>
						<label class="control-label col-md-8" style="text-align: left;" id="consoleName"></label>
					</div>						
					<div class="form-group">
						<label class="control-label col-md-4">IP:</label>
						<label class="control-label col-md-8" style="text-align: left;" id="consoleIpAddress"></label>
					</div>
					<div class="form-group">
						<label class="control-label col-md-4">Estado:</label>
						<label class="control-label col-md-8" style="text-align: left;" id="consoleState"></label>
					</div>
					<div class="form-group">							
						<label class="control-label col-md-4">Grupo:</label>
						<label class="control-label col-md-8" style="text-align: left;" id="consoleGroup"></label>
					</div>
				</form>
			</div>
		</div>

		<input type="hidden" id="employeeId" th:value="${employeeId}"></input>
		<!-- <input type="hidden" id="headquarterId" th:value="${headquarterId}"></input> -->
		
	<!-- JavaScript --> 
		<script type="text/javascript" th:src="@{plugins/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{bootstrap/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{plugins/modernizr.js}"></script>
		<script type="text/javascript" th:src="@{plugins/isotope/isotope.pkgd.min.js}"></script>
		<script type="text/javascript" th:src="@{plugins/jquery.backstretch.min.js}"></script>
		<script type="text/javascript" th:src="@{plugins/jquery.appear.js}"></script>
		<script type="text/javascript" th:src="@{plugins/jquery-ui-1.11.4.custom/jquery-ui.min.js}"></script>
		<script type="text/javascript" th:src="@{plugins/jquery.mCustomScrollbar.concat.min.js}"></script>
		<script type="text/javascript" th:src="@{plugins/select2-4.0.3/js/select2.min.js}"></script>
		<script type="text/javascript" th:src="@{plugins/dataTables/js/jquery.dataTables.js}"></script>
		
		<script type="text/javascript" th:src="@{sockjs-client/sockjs.min.js}"></script>
		<script type="text/javascript" th:src="@{stomp-websocket/stomp.min.js}"></script>
		
		<!-- Custom Scripts -->
		<script type="text/javascript" th:src="@{js/operator.js}"></script>
		<script type="text/javascript" th:src="@{js/computerAndConsole.js}"></script>
		<script type="text/javascript" th:src="@{js/computerStatusClient.js}"></script>

	</body>
</html>
